{% extends "base_codestand.html" %}
{% load staticfiles %}
{% load ietf_filters %}

{% block title %}CodeStand Statistics{% endblock %}


{% block bodyAttrs %}data-spy="scroll" data-target="#affix"{% endblock %}



{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/3.5.1/css/tabulator.min.css" rel="stylesheet">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/3.5.1/js/tabulator.min.js"></script>

<!-- Main content starts -->

<div class="content" style="padding:0">

    <!-- Main bar -->
    <div class="mainbar">
        
        <!-- Page heading -->
        <div class="page-head">
            <h2 class="pull-left"><i style="font-size: 20px;"></i> Statistics</h2>

            <!-- Breadcrumb -->
            <div class="bread-crumb pull-right">
                <a href="{% url "ietf.codestand.views.index" %}"><i class="fa fa-home"></i> Home</a>
                <!-- Divider -->
                <span class="divider">/</span>
                <a class="bread-current">Statistics</a>
            </div>

            <div class="clearfix"></div>

        </div>
        <!-- Page heading ends -->

        <!-- Matter -->

        <div class="matter">
            <div class="container">

                <div>
		            <h4>Some statistics from our community: </h4>
		            <div class="clearfix"></div>
		        </div>

                {% block extrahead %}{{ block.super }}
                  <script type="text/javascript" src="{% static 'fusioncharts/fusioncharts.js' %}"></script>
                  <script type="text/javascript" src="{% static 'fusioncharts/themes/fusioncharts.theme.fint.js' %}"></script>

                {% endblock %}

               

            <div id="chart-1">{{ output|safe }}</div>
            <br>            
            <div id="table-1"></div>
            </div>
        </div>

        

    </div>

    <!-- Mainbar ends -->
    <div class="clearfix"></div>

</div>
<!-- Content ends -->

 <script type="text/javascript">     
      $("#table-1").tabulator({
          height:200, // set height of table to enable virtual DOM
          data:{{ tableData|safe }}, //load initial data into table
          layout:"fitColumns", //fit columns to width of table (optional)
          columns:{{tableCol|safe}}
      });
    </script>

{% endblock %}

